$ralewayFont: 'Raleway', sans-serif;
$cardoFont: 'Cardo', serif;

$buttonColorNormal: rgb(255, 67, 67);
$buttonColorHover: rgb(231, 20, 20);
$buttonActiveShadow: 4px 4px 30px rgb(255, 67, 67);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100%;

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        z-index: 2;
    }

    &__container::after {
        content: '';
        position: absolute;
        border-bottom: 1px solid rgb(186, 187, 197);
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__menu {
        display: none;
    }

    &__logo {
        height: 100px;
        width: 200px;
    }

    &__items {
        list-style-type: none;
        display: flex;
    }
    
    &__link {
        padding: 41px 34px;
        display: block;
        text-decoration: none;
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s linear, color 0.3s linear;
    }

    &__link:hover {
        border-bottom: 2px solid rgb(186, 187, 197);
    }

    &__link:active {
        color: rgb(231, 20, 20);
        border-bottom: 2px solid rgb(231, 20, 20);
    }

    @media (max-width: 1024px) {

        &__container::after {
            max-width: 984px;
            width: 100%;
            transform: translate(-50%, 0px);
            left: 50%;
        }

        &__link {
            padding: 41px 23px;
        }
    }

    @media (max-width: 767px) {

        &__container::after {
            border: none;
        }

        &__nav {
            display: none;
        }

        &__logo {
            height: 56px;
            margin-left: -18px;
        }

        &__logo svg {
            width: 100%;
            height: 100%;
        }
        &__menu {
            display: inline-block;
        }
    }
}

.main {
    padding-top: 230px;
    padding-bottom: 120px;
    text-align: center;
    margin-bottom: 116px;
    background-image: url(../media/mainBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        background: rgba(37, 43, 73, 0.8);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    & .container {
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: 31.5px;
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }

    &__text {
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: rgb(255, 255, 255);
    }

    &__btn {
        display: block;
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        padding: 30px;
        max-width: 369px;
        width: 100%;
        background-color: $buttonColorNormal;
        margin: 82px auto 0;
        cursor: pointer;
        transition: background-color 0.3s linear, box-shadow 0.3s linear;
    }

    &__btn:hover {
        background-color: $buttonColorHover;
    }

    &__btn:active {
        box-shadow: $buttonActiveShadow;
    }

    @media (max-width: 1024px) {
        & {
            padding-top: 257px;
            padding-bottom: 126px;
            margin-bottom: 78px;
        }

        &__title {
            font-size: 48px;
            line-height: 56px;
        }

        &__text {
            font-size: 18px;
            line-height: 21px;
        }

        &__btn {
            max-width: 313px;
            width: 100%;
            margin-top: 91.5px;
        }
    }
    @media (max-width: 767px) {
        & {
            padding-top: 106px;
            padding-bottom: 52px;
            margin-bottom: 40px;
        }
        &__title {
            font-size: 36px;
            line-height: 42px;
        }
        &__text {
            font-size: 14px;
            line-height: 16px;
        }
        &__btn {
            max-width: 280px;
            width: 100%;
            margin-top: 51px;
            padding: 19px;
        }
    }
}

.advantages {

    margin-bottom: 133px;

    & .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 31px;
    row-gap: 100px;
    text-align: center;
    align-items: center;
    }

    &__title {
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: rgb(45, 48, 51);
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    &__text {
        font-family: $ralewayFont;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: rgb(108, 114, 121);
    }

    &__article svg {
        margin-bottom: 50px;
    }

    @media (max-width: 1024px) {
        margin-bottom: 80px;

        & .container {
            column-gap: 20px;
            row-gap: 60px;
            }

        &__article svg {
            width: 85px;
            height: 84px;
            margin-bottom: 44px
        }

        &__title {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 28px;
        }

        &__text {
            font-size: 14px;
            line-height: 16px;
        }
    }

    @media (max-width: 767px) {

        margin-bottom: 35px;

        & .container {
            grid-template-columns: repeat(1, 1fr);
            column-gap: none;
            row-gap: 42px;
            }

            &__article svg {
                width: 75px;
                height: 75px;
                margin-bottom: 40px
            }
    
            &__title {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 13px;
            }
    
            &__text {
                font-size: 14px;
                line-height: 16px;
            }
    }
}

.examples {

        max-width: 1510px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 114px;
        text-align: center;

    &__title {
        text-transform: uppercase;
        position: absolute;
        transform: translate(-50%, 110px);
        left: 50%;
        opacity: 0;
        z-index: 2;
        font-family: $ralewayFont;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: rgb(255, 255, 255);
        transition: opacity 0.5s linear;
    }

    &__text {
        position: absolute;
        transform: translate(-50%, 190px);
        left: 50%;
        opacity: 0;
        z-index: 2;
        font-family: $ralewayFont;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: rgb(255, 255, 255);
        transition: opacity 0.3s linear;
    }

    &__link::after {
        content: '';
        position: absolute;
        background-color: rgba(255, 67, 67, 0.8);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.3s linear, background-color 0.3s linear;
    }
    
        &__link {
        display: block;
        width: 378px;
        height: 340px;
        position: relative;
        border: 2px solid rgb(255, 255, 255);
        overflow: hidden;
    }

    &__link:hover:after {
            opacity: 1;
            border: 2px solid rgb(255, 255, 255);
    }
    &__link:hover &__text {
            opacity: 1;
    }
    &__link:hover &__title {
        opacity: 1;
    }

    &__link:active:after {
        opacity: 1;
        border: 2px solid rgb(255, 255, 255);
        background-color: rgba(185, 12, 12, 0.8);
    }
    &__link:active &__text {
        opacity: 1;
    }
    &__link:active &__title {
    opacity: 1;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-position: center;
    }


    @media (max-width: 1024px) {
        margin-bottom: 78px;
        &__link {
            display: block;
            width: 256px;
            height: 230px;
        }

        &__title {
            font-size: 18px;
            line-height: 21px;
            transform: translate(-40%, 75px);
            left: 45%;
        }
    
        &__text {
            font-size: 14px;
            line-height: 16px;
            transform: translate(-35%, 128px);
            left: 42%;
        }
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 35px;

        &__link {
            display: block;
            width: 160px;
            height: 144px;
            margin: 0 auto;
        }

        &__title {
            transform: translate(0%, 46px);
            left: 7%;
        }
    
        &__text {
            transform: translate(0%, 77px);
            left: 5%;
        }
    }
}

.team {

    margin-bottom: 114px;

    & .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
    }

    &__employee {
        display: flex;
        flex-direction: column;
    }

    &__block {
        margin-top: auto;
    }

    &__wrap {
        width: 270px;
        height: 270px;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        object-position: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        font-family: $ralewayFont;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-transform: capitalize;
        margin-bottom: 6px;
    }

    &__subtitle {
        font-family: $ralewayFont;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: rgb(255, 67, 67);
        margin-bottom: 18px;
    }

    &__text {
        font-family: $ralewayFont;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: rgb(108, 114, 121);
        margin-bottom: 38px;
    }

    &__wrapper {
        display: inline-block;
        width: 39px;
        height: 39px;
        border: 1px solid rgb(198, 203, 205);
        text-align: center;
        padding: 10px;
        transition: border 0.3s linear;

        &:hover {
            border: 1px solid rgb(231, 20, 20);
        }

        &:hover path {
            fill: rgb(231, 20, 20);
            transition: fill 0.3s linear;
        }

        &:active {
            border: 1px solid rgb(20, 231, 20);
        }

        &:active path {
            fill: rgb(20, 231, 20);
            transition: fill 0.3s linear;
        }
    }

    @media (max-width: 1024px) {
        margin-bottom: 78px;

        & .container {
            column-gap: 25px;
        }
    
        &__wrap {
            width: 227px;
            height: 227px;
            margin-bottom: 25px;
        }
    
        &__title {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 4.5px;
        }
    
        &__subtitle {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 22px;
        }
    
        &__text {
            font-size: 14px;
            line-height: 16px;
        }
    
        &__wrapper {
            margin-top: 39px;
            width: 33px;
            height: 33px;
            padding: 6px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 34px;

        & .container {
            grid-template-columns: repeat(1, 1fr);
            column-gap: none;
            row-gap: 49px;
        }
    
        &__wrap {
            width: 280px;
            height: 227px;
            margin: 25px auto;
        }
    
        &__subtitle {
            margin-bottom: 38px;
        }
    
        &__wrapper {
            margin-top: 55px;
        }
    }
}

.swiper {

    margin-bottom: 114px;
    
    & .container {
        max-width: 100%;
        padding: 0;
    }

    &__slide {
        width: 100%;
        display: grid;
        grid-template-columns: 741px 1fr;
        overflow: hidden;
    }

    &__quote {
        height: 100%;
        width: 100%;
        background-color: rgb(92, 50, 73);
        padding: 116px 170px 116px 129px;
        
    }

    &__text {
        font-family: $cardoFont;
        font-style: italic;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        text-transform: capitalize;
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
    }

    &__subtext {
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
    }

    &__wrap img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__btns {
        position: unset;
        margin-top: 31px;
    }

    &__btns .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        border: 1px solid rgb(126, 93, 111);
        background-color: rgb(255, 255, 255);
        opacity: 1;
    }

    &__btns .swiper-pagination-bullet:hover {
        background-color: rgb(126, 93, 111);
    }

    &__btns .swiper-pagination-bullet:active {
        background-color: rgb(126, 93, 111);
    }

    @media (max-width: 1024px) {
        
        &__slide {
            grid-template-columns: 502px 1fr;
        }

        &__quote {
            padding: 47px 104px 129px 88px;
        }

        &__text {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 10px;
        }
    
        &__subtext {
            font-size: 12px;
            line-height: 14px;
        }

        &__btns .swiper-pagination-bullet {
            width: 9px;
            height: 9px;
        }
    }

    @media (max-width: 767px) {
        &__slide {
            grid-template-columns: 1fr;
            text-align: center;
        }

        &__quote {
            padding: 30px 25px 95px 20px;
        }
    }
}

.download {
    margin-bottom: 114px;
    &__block {
        text-align: center;
    }

    &__title {
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 5px;
    }
    &__text {
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
    }

    &__btn {
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        max-width: 370px;
        width: 100%;
        padding: 26px;
        margin: 48px auto 0;
        background-color: $buttonColorNormal;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s linear, box-shadow 0.3s linear;

        &:hover {
            background-color: $buttonColorHover;
        }
    
        &:active {
            box-shadow: $buttonActiveShadow;
        }
    }

    @media (max-width: 1024px) {

        margin-bottom: 78px;

        &__title {
            font-size: 24px;
            line-height: 28px;
        }
        &__text {
            font-size: 14px;
            line-height: 16px;
        }
        &__btn {
            font-size: 18px;
            line-height: 21px;
            max-width: 313px;
            width: 100%;
            margin: 43px auto 0;
        }
    }

    @media (max-width: 767px) {

        margin-bottom: 45px;

        &__title {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }
        &__text {
            font-size: 13px;
            line-height: 15px;
        }
        &__btn {
            font-size: 18px;
            line-height: 21px;
            max-width: 279px;
            width: 100%;
            margin: 13px auto 0;
            padding: 28px;
        }
    }
}

.footer {
    text-align: center;
    
    &__top {
        background-color: rgb(53, 60, 101);
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 71px 15px;
    }

    &__title {
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        margin-bottom: 29px;
    
    }

    &__block:nth-child(2) &__title {
        margin-bottom: 0px;
    }

    &__text {
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: rgb(255, 255, 255);
    }

    &__bottom {
        background-color: #2C3154;
        padding: 24px 0;
    }

    &__copyright {
        font-family: $ralewayFont;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: rgb(128, 128, 128);
        max-width: 370px;
        width: 100%;
        margin: 0 auto;
    }

    &__copyright-color {
        color: rgb(255, 255, 255);
    }

    &__link {
        display: inline-block;
        width: 39px;
        height: 39px;
        border: 1px solid rgb(198, 203, 205);
        text-align: center;
        padding: 10px;
        margin-right: 27px;
        margin-top: 49px;
        cursor: pointer;
        transition: border 0.3s linear;

        &:hover {
            border: 1px solid rgb(231, 20, 20);
        }

        &:hover path {
            fill: rgb(231, 20, 20);
            transition: fill 0.3s linear;
        }

        &:nth-of-type(3) {
            margin-right: 0;
        }

        &:active {
            border: 1px solid rgb(20, 231, 20);
        }

        &:active path {
            fill: rgb(20, 231, 20);
            transition: fill 0.3s linear;
        }
    }

    @media (max-width: 1024px) {

        &__title {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 18px;
        }

        &__text {
            font-size: 14px;
            line-height: 16px;
        }
    
        &__bottom {
            padding: 14px 0;
        }
    
        &__copyright {
            font-size: 14px;
            line-height: 16px;
        }

        &__link {
            display: inline-block;
            width: 33px;
            height: 33px;
            padding: 7px;
            margin-right: 22px;
            margin-top: 32px;

            &:nth-of-type(3) {
                margin-right: 0;
            }
    }
}

    @media (max-width: 767px) {
        &__container {
            padding: 34px 15px;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 60px;
        }

        &__bottom .container {
            padding: 0 3px;
        }
        &__title {
            margin-bottom: 34px;
        }
    
        &__bottom {
            padding: 29px 20px;
        }
    
        &__link {
            width: 33px;
            height: 33px;
            padding: 6px;
            margin-right: 16px;
            margin-top: 36px;

            &:nth-of-type(3) {
                margin-right: 0;
            }
    }
    }
}